html, body, h1, h2, h3, h4, h5, h6, p { text-align: center; font-family:Arial; }
div.wrap{ width: 100%; }
div.page{ width: 960px; margin: 0 auto; }
div.pageRow{ width: 100%; float: left; }
.navMenu form { float:left; max-width: 400px; margin-left: 10px; }
.centeredText{ text-align: center; }
input.standardInput {
    width: 40%;
    height: 3em;
    margin: 0 auto;
    display: block;
}
input.buttonInput {
    height: 2em;
    margin: 0 auto;
    display: block;
    background: none repeat scroll 0 0 #CCC;
    border: 1px solid black;
}
input.button { cursor: pointer; }
input.button:hover { color: white; background: none repeat scroll 0 0 #888; border: 1px solid #000; }

.dataGrid{
    width: 960px;
    display: inline-block;
    border: 1px solid black;
}

.gridRecordDetailsRow{
    width: 100%;
    float:left;
}

.gridRecordDetailsTitleRow{
    width: 100%;
    float:left;
    background: #CCC;
}

.gridRecordDetailsField{
    width: 300px;
    float: left;
}

.gridRecordDetailsInnerField{
    width: 150px;
    float: left;
    overflow: hidden;
}